@model PoetCRM.Models.Especialidad

@{
    ViewData["Title"] = "Detalle";
}

<h1>@Html.DisplayNameFor(model => model.NombreEspecialidad)</h1>

<div>
    <h4>Especialidad Médica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEspecialidad">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
